<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.zhixueproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SENSOR_INFO" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="design_width"
            android:value="768"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1280"></meta-data>

        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.SettingPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.CollegeHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.EditPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.EditSignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.CollegeManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.MoreCollegeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.EditCollegeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.EditUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.MemberLevelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.EditEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.userinfo.BindingEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.MedalListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.AddMedalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.BuyVipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.VipDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.BuyInessInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.BuyInessOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.college.AddCooperateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.topic.TopicListManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.topic.AddTopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.topic.TopicListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.college.RecentEarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.topic.ChargePrivilegeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.topic.PostDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.topic.PostDetailValueActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.topic.ReleasePostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.topic.ReleaseActionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.topic.ReleaseVoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.topic.SelectLecturersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.topic.ReleaseContentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.college.SelectTeacherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.college.TopicAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.EntryGroupAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.PostAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.GiveAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.GiveScalAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.QuestionAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.WithDrawListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.NoticeListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.AddNoticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.FeedBackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.college.AddFeedBackActivity"
            android:screenOrientation="portrait" />



        <!--注册微信回调 WXEntryActivity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>